.anime-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    margin: auto;
}

.anime-title-container {
    text-align: center;
    margin-bottom: 6%; /* Ridotto dal 5% */
}

.anime-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.not-header {
    padding: 0 15px 15px; /* padding: alto 0, destra 15px, basso 15px, sinistra 15px */
}


.anime-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.anime-image {
    width: 40%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.anime-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.anime-details p {
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
}

.anime-description {
    margin-top: 20px;
    text-align: justify;
    hyphens: auto;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}

.rating-row {
    margin-bottom: 20px;
}

.rating-options {
    display: flex;
    gap: 5px;
    justify-content: space-between; /* Distribuisce i pulsanti equamente */
    width: 100%; /* Assicura che la riga riempia tutta la larghezza disponibile */
}

.rating-button {
    padding: 1% 2.5%;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    cursor: pointer;
    border-radius: 4px;
}

.rating-button.selected {
    background-color: #007bff;
    color: #fff;
    border-color: #0056b3;
}

.save-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.success-checkmark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: green;
    background: white;
    border-radius: 50%;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeOut 2s ease-in-out forwards;
    z-index: 1000;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
}
