.footer {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.footer-section h4 {
    margin-bottom: 5px;
    font-size: 1rem;
}

.footer-section p,
.footer-section a {
    margin: 0;
    font-size: 0.9rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #00acee;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.h4-footer{
    margin-top: 3%;
}
